<app-filters-drawer (filtersChange)="onFiltersChange($event)">
  <section class="products-container">
    <button class="btn add-btn" (click)="goToAddProduct()">
      Añadir nuevo producto
    </button>
    <h2>Lista de Productos</h2>
    <app-sort-controls (sortChange)="onSortChange($event)" />

    @if (isLoading) {
    <div class="spinner-wrapper">
      <p class="loading-text">Cargando datos...</p>
      <mat-spinner diameter="56" mode="indeterminate"> </mat-spinner>
    </div>
    } @else { @if (products.length > 0) {
    <div class="products-box">
      @for (product of products; track product._id) {
      <div
        class="product-card"
        (click)="goToDetails(product._id)"
        [ngClass]="product.variety.toLowerCase().replace(' ', '-')"
      >
        <div class="column code">
          <p class="code-text">
            {{ product.code }}
          </p>
        </div>
        <div class="column variety-pie">
          <p><strong>Variedad:</strong> {{ product.variety }}</p>
          <p><strong>Pie:</strong> {{ product.pie }}</p>
        </div>
        @if (screenWidth > 599) {
        <div class="column clones">
          <p><strong>Clon del Pie:</strong> {{ product.clonPie }}</p>
          <p><strong>Clon:</strong> {{ product.clon }}</p>
        </div>
        }
        <div class="column total-status">
          <p><strong>Total:</strong> {{ product.total }}</p>
          <p>
            <strong>Disponible:</strong>
            <span
              class="status"
              [class.available]="product.isAvailable"
              [class.unavailable]="!product.isAvailable"
            >
              {{ product.isAvailable ? "SI ✅" : "NO ❌" }}
            </span>
          </p>
        </div>
      </div>
      }
    </div>
    <app-paginator
      [length]="totalProducts"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      (pageChange)="onPageChange($event)"
    />
    } @else {
    <p>{{ errorMessage }}</p>
    } }
  </section>
</app-filters-drawer>
