<app-filters-drawer (filtersChange)="onFiltersChange($event)">
  <app-clients-filters filters (filtersChange)="onFiltersChange($event)" />

  <section class="clients-container">
    <div class="top-bar">
      <button class="btn add-btn" (click)="goToAddClient()">
        Añadir nuevo cliente
      </button>

      <app-sort-controls
        [sortOptions]="[
          { value: 'name', label: 'Nombre' },
          { value: 'secondName', label: 'Apellido' }
        ]"
        (sortChange)="onSortChange($event)"
      ></app-sort-controls>
    </div>

    @if (isLoading) {
    <app-spinner></app-spinner>
    } @else if (error) {
    <p class="error-message">Error: {{ error }}</p>
    } @else { @if (clients.length === 0) {
    <p class="empty-message">No hay clientes para mostrar.</p>
    } @else {
    <div class="content-wrapper">
      <section class="clients-grid">
        @for (client of clients; track client._id) {
        <app-client-card [client]="client" />
        }
      </section>

      <app-paginator
        [length]="totalProducts"
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        (pageChange)="onPageChange($event)"
      />

      <div class="map-panel">
        <app-clients-map [clients]="clients"></app-clients-map>
      </div>
    </div>
    } }
  </section>
</app-filters-drawer>
