<mat-card
  class="order-card"
  [ngClass]="{
    'border-status-pending': order.status === 'pending',
    'border-status-processing': order.status === 'processing',
    'border-status-scheduled': order.status === 'scheduled',
    'border-status-completed': order.status === 'completed',
    'border-status-cancelled': order.status === 'cancelled'
  }"
>
  <mat-card-header>
    <mat-card-title>Pedido #{{ order._id.slice(-6) }}</mat-card-title>
    <mat-card-subtitle>
      Cliente:
      <strong>{{ order.client?.name }} {{ order.client?.secondName }}</strong>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      <strong>Producto:</strong> {{ order.product?.variety }} ({{
        order.product?.pie
      }})
    </p>
    <p><strong>Cantidad:</strong> {{ order.quantity }}</p>
    <p>
      <strong>Plantación Requerida:</strong>
      <span
        [ngClass]="{
          'status-success': order.plantingRequested,
          'status-danger': !order.plantingRequested
        }"
      >
        {{ order.plantingRequested ? "Sí" : "No" }}
      </span>
    </p>
    @if (order.plantingRequested && order.plantingDate) {
    <p>
      <strong>Fecha de Plantación:</strong>
      {{ order.plantingDate | date : "mediumDate" }}
    </p>
    }
    <p>
      <strong>Fecha de Creación:</strong>
      {{ order.createdAt | date : "medium" }}
    </p>
    <p>
      <strong>Última Actualización:</strong>
      {{ order.updatedAt | date : "medium" }}
    </p>

    <p>
      <strong>Estado:</strong>
      <span
        [ngClass]="{
          'status-pending': order.status === 'pending',
          'status-processing': order.status === 'processing',
          'status-scheduled': order.status === 'scheduled',
          'status-completed': order.status === 'completed',
          'status-cancelled': order.status === 'cancelled'
        }"
      >
        {{ translateStatus(order.status) }}
      </span>
    </p>
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <button mat-stroked-button color="primary" (click)="viewOrderDetails()">
      <mat-icon>info</mat-icon> Ver Detalles
    </button>
  </mat-card-actions>
</mat-card>
