@if (isLoading) {
<p>Cargando información del cliente...</p>
<app-spinner></app-spinner>
} @else if (error) {
<p>Error: {{ error }}</p>
} @else if (client) {
<mat-card class="client-detail-card">
  <mat-card-header>
    <div mat-card-avatar class="client-avatar"></div>
    <mat-card-title>{{ client.name }} {{ client.secondName }}</mat-card-title>
    <mat-card-subtitle>{{ client.email }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      <mat-icon color="primary" class="icon-left">call</mat-icon>
      {{ client.phone }}
    </p>
    <p>
      <mat-icon color="primary" class="icon-left">location_on</mat-icon>
      {{ client.address.street }}, {{ client.address.city }},
      {{ client.address.postalCode }}, {{ client.address.province }}
    </p>
  </mat-card-content>
  <div class="btns-box">
    <button
      class="edit-btn"
      mat-raised-button
      type="button"
      color="primary"
      (click)="goToUpdateClient()"
    >
      <mat-icon>edit</mat-icon>
      Editar Cliente
    </button>
    <button
      class="delete-btn"
      mat-raised-button
      color="warn"
      type="button"
      (click)="deleteClient()"
    >
      <mat-icon>delete</mat-icon>
      Eliminar Cliente
    </button>
  </div>
</mat-card>

<h3>Parcelas registradas</h3>
@if (!client) {
<p>Cargando datos del cliente...</p>
} @else if (client._id) {
<app-client-locations-map [clientId]="client._id" />
} @else {
<p>Este cliente no tiene parcelas registradas.</p>
}}
