<div class="container">
  <app-nav-list />
  <mat-toolbar color="primary">
    <span>Angular Custom Themes</span>
    <button mat-icon-button [matMenuTriggerFor]="themeMenu">
      <mat-icon>format_color_fill</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #themeMenu="matMenu">
    @for (theme of themeService.getThemes(); track theme.id) {
    <button mat-menu-item (click)="themeService.setTheme(theme.id)">
      {{ theme.displayName }}
    </button>
    }
  </mat-menu>

  <main class="main">
    <div class="content">
      <h1>Hello, Viticultura-frontend</h1>
    </div>
    <router-outlet />
  </main>
</div>
