<mat-toolbar color="primary" class="main-toolbar">
  @if (isMobile()) {
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  }
  <span>{{ title }}</span>
  <span class="spacer"></span>

  @if (!isMobile()) {
  <nav mat-tab-nav-bar class="desktop-nav-tabs" [tabPanel]="mainRouterPanel">
    @if (currentUser()) { @for (link of navLinks; track link.path) {
    <a
      mat-tab-link
      [routerLink]="link.path"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ link.label }}
    </a>
    } }
  </nav>
  <span class="spacer"></span>
  <nav mat-tab-nav-bar class="desktop-auth-tabs" [tabPanel]="authRouterPanel">
    @if (currentUser()) {
    <a mat-tab-link (click)="logout()">
      <mat-icon>logout</mat-icon> Logout ({{ currentUser()?.email }})
    </a>
    } @else { @for (link of authLinksNotLoggedIn; track link.path) {
    <a
      mat-tab-link
      [routerLink]="link.path"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ link.label }}
    </a>
    } }
  </nav>
  }

  <button mat-icon-button [matMenuTriggerFor]="themeMenu">
    <mat-icon>format_color_fill</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #themeMenu="matMenu">
  @for (theme of themeService.getThemes(); track theme.id) {
  <button mat-menu-item (click)="themeService.setTheme(theme.id)">
    {{ theme.displayName }}
  </button>
  }
</mat-menu>

<mat-tab-nav-panel #mainRouterPanel></mat-tab-nav-panel>
<mat-tab-nav-panel #authRouterPanel></mat-tab-nav-panel>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="drawerMode()"
    [opened]="false"
    (click)="toggleSidenav()"
  >
    <mat-nav-list>
      @if (currentUser()) { @for (link of navLinks; track link.path) {
      <a mat-list-item [routerLink]="link.path" routerLinkActive="active">
        <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
        <span matListItemTitle>{{ link.label }}</span>
      </a>
      }
      <mat-divider></mat-divider>
      <a mat-list-item (click)="logout()">
        <mat-icon matListItemIcon>logout</mat-icon>
        <span matListItemTitle>Вийти ({{ currentUser()?.email }})</span>
      </a>
      } @else { @for (link of authLinksNotLoggedIn; track link.path) {
      <a mat-list-item [routerLink]="link.path" routerLinkActive="active">
        <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
        <span matListItemTitle>{{ link.label }}</span>
      </a>
      } }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <main class="content-wrapper">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
