<form [formGroup]="filtersForm" class="filters-form">
  <h3>Filtrar Productos</h3>

  <mat-form-field appearance="fill">
    <mat-label>Código</mat-label>
    <input matInput formControlName="code" placeholder="Ej: 01-01-01" />
    <button
      mat-icon-button
      matSuffix
      (click)="clearField('code')"
      type="button"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Variedad</mat-label>
    <mat-select formControlName="variety">
      <mat-option value="">Todos</mat-option>
      @for (option of varietyOptions; track option) {
      <mat-option [value]="option">{{ option | titlecase }}</mat-option>
      }
    </mat-select>
    <button
      mat-icon-button
      matSuffix
      (click)="clearField('variety')"
      type="button"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Pie</mat-label>
    <mat-select formControlName="pie">
      <mat-option value="">Todos</mat-option>
      @for (option of pieOptions; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-select>
    <button mat-icon-button matSuffix (click)="clearField('pie')" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Disponible</mat-label>
    <mat-select formControlName="isAvailable">
      <mat-option [value]="null">Todos</mat-option>
      <mat-option [value]="true">Sí</mat-option>
      <mat-option [value]="false">No</mat-option>
    </mat-select>
    <button
      mat-icon-button
      matSuffix
      (click)="clearField('isAvailable')"
      type="button"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button
    mat-flat-button
    color="warn"
    class="reset-btn"
    type="button"
    (click)="resetFilters()"
  >
    <mat-icon>autorenew</mat-icon> Reiniciar
  </button>
</form>
