// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming

@use "@angular/material" as mat;
@import "./app//core/themes/themes.css";

@import "mapbox-gl/dist/mapbox-gl.css";
@import "@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css";

@include mat.core();

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

app-root {
  display: block;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}
:root,
body.green-theme {
  --primary-bg: #ecf6de;
  --primary-text: #333;
  --card-bg: #ffffff;
  --card-text: #222;
  --md-sys-color-primary: #388e3c;
  --md-sys-color-secondary: #ec4079b9;
  --md-sys-color-tertiary: #fbc02d;
  --md-sys-color-background: #ffffff;
  --md-sys-color-on-background: #2a0030;

  @include mat.paginator-overrides(
    (
      container-text-color: #333,
      // container-background-color: #d8c9f2bf,
      enabled-icon-color: #388e3c,
      disabled-icon-color: #ccc,
      container-text-size: 14px,
      container-text-weight: 500,
      container-text-line-height: 20px,
      container-size: 48px,
    )
  );
}

body.dark-theme {
  --primary-bg: #1e1e1e;
  --primary-text: #ffffff;
  --card-bg: #2c2c2c;
  --card-text: #eee;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // margin: 0;
  height: 100%;
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.31rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

mat-card,
mat-card-title,
mat-card-subtitle,
mat-card-content,
mat-card-footer {
  background-color: var(--card-bg);
  color: var(--card-text);
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

a,
button {
  color: var(--primary-text);
}
.mapbox-custom-popup {
  color: var(--card-text);
  background: var(--card-bg);
  border-radius: 6px;
  font-size: 14px;

  .mapboxgl-popup-content {
    background: var(--card-bg);
    color: var(--card-text);
    padding: 0.75rem 1rem;
  }

  .mapboxgl-popup-tip {
    border-top-color: var(--card-bg);
  }
}
