.order-card {
  background: var(--card-bg);
  color: var(--card-text);
  transition: box-shadow 0.3s ease;
  min-height: 250px;
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }

  mat-card-content {
    flex-grow: 1;
  }

  .btns-box {
    display: flex;
    justify-content: flex-end;
    gap: 0.6rem;
    margin-top: auto;
  }
}
