.client-card {
  width: 100%;
  max-width: 420px;
}
mat-card-content p:last-child {
  min-height: 2em;
  color: var(--card-text);
}

mat-card {
  background-color: var(--card-bg);
  color: var(--card-text);
}

mat-card-title,
mat-card-subtitle {
  color: var(--card-text);
}
