<form [formGroup]="sortForm" class="sort-form">
  <mat-form-field appearance="fill">
    <mat-label>Ordenar por</mat-label>
    <mat-select formControlName="sortBy">
      @for (option of sortOptions; track option.value) {
      <mat-option [value]="option.value">
        {{ option.label }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Orden</mat-label>
    <mat-select formControlName="sortOrder">
      <mat-option value="asc">Ascendente</mat-option>
      <mat-option value="desc">Descendente</mat-option>
    </mat-select>
  </mat-form-field>
</form>
