.filters-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

button {
  padding: 4px;
  border-radius: 4px;
  color: #666;
  transition: background-color 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #d78383;
  }
}
