<form [formGroup]="filtersForm" class="filters-form">
  <p>Filtrar productos por:</p>
  <div>
    <label> Código: </label>
    <input formControlName="code" placeholder="Ej: 01-01-01" />
    <button type="button" (click)="clearField('code')">
      <mat-icon class="icon-close" fill="red">close</mat-icon>
    </button>
  </div>
  <div>
    <label> Variedad: </label>
    <select formControlName="variety">
      <option value="">--</option>
      <option value="macabeo">Macabeo</option>
      <option value="xarello">Xarello</option>
      <option value="garnacha">Garnacha</option>
      <option value="parellada">Parellada</option>
      <option value="chardonnay">Chardonnay</option>
      <option value="verdejo">Verdejo</option>
      <option value="tempranillo">Tempranillo</option>
      <option value="sauvignon">Sauvignon</option>
    </select>
    <button type="button" (click)="clearField('variety')">
      <mat-icon class="icon-close">close</mat-icon>
    </button>
  </div>
  <div>
    <label> Pie: </label>
    <select formControlName="pie">
      <option value="">--</option>
      <option value="R-110">R-110</option>
      <option value="SO-4">SO-4</option>
      <option value="41-B">41-B</option>
      <option value="Ru-140">Ru-140</option>
      <option value="333">333</option>
    </select>
    <button type="button" (click)="clearField('pie')">
      <mat-icon class="icon-close">close</mat-icon>
    </button>
  </div>
  <div>
    <label> Disponible: </label>
    <select formControlName="isAvailable">
      <option value="">--</option>
      <option [value]="true">Sí</option>
      <option [value]="false">No</option>
    </select>
    <button type="button" (click)="clearField('isAvailable')">
      <mat-icon class="icon-close">close</mat-icon>
    </button>
  </div>

  <button type="button" class="btn reset-btn" (click)="resetFilters()">
    Limpiar filtros
  </button>
</form>
