.drawer-container {
  height: 100%;
  width: 100%;
  background-color: var(--card-bg);
  color: var(--card-text);
}

mat-drawer {
  width: 320px;
  padding: 1rem;
  background-color: #f9f9f93d;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #e0e0e0;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.toggle-filters-container {
  position: relative;
  width: 100%;
  height: 3rem;
}

.toggle-filters-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
}
