<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer
    #drawer
    [mode]="screenService.drawerMode()"
    [opened]="!screenService.isSmallScreen()"
    position="start"
  >
    <ng-content select="[filters]"></ng-content>
  </mat-drawer>

  <div class="main-content">
    @if (screenService.isSmallScreen()) {
    <div class="toggle-filters-container">
      <button mat-button class="toggle-filters-btn" (click)="drawer.toggle()">
        Filtros
      </button>
    </div>
    }
    <ng-content></ng-content>
  </div>
</mat-drawer-container>
