<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer
    #drawer
    [mode]="screenService.drawerMode()"
    [opened]="!screenService.isSmallScreen()"
    position="start"
  >
    <ng-content
      select="[filters]"
      (filtersChange)="handleFiltersChange($event)"
    ></ng-content>
  </mat-drawer>

  <div class="main-content">
    @if (screenService.isSmallScreen()) {
    <div class="top-bar-with-filter">
      <button
        mat-flat-button
        color="primary"
        class="toggle-filters-btn"
        (click)="drawer.toggle()"
      >
        <mat-icon>filter_list</mat-icon> Filtrar
      </button>
    </div>
    }
    <div class="content-area">
      <ng-content></ng-content>
    </div>
  </div>
</mat-drawer-container>
