.spinner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.loading-text {
  font-size: 1.2rem;
  color: #666;
}
::ng-deep .my-spinner circle {
  stroke: orange;
}
